h1 {
   font-family: 'Karla', sans-serif;
   font-weight: 400;
   color: red;
   margin: auto;
   padding: 30px;
   background-color: yellow;
}

.dieter {
   color: black;
   text-align: right;
}

h2 {
   font-family: 'Karla', sans-serif;
   font-weight: 700;
   font-size: 180px;
   color: black;
   margin: auto;
   padding: 30px;
}
